# Domain Configuration
VULNERABLE_DOMAIN=your-vulnerable-domain
SECURE_DOMAIN=your-secure-domain
MONITORING_DOMAIN=your-monitoring-domain

# Redis Ports
VULNERABLE_REDIS_PORT=6379
SECURE_REDIS_PORT=6380
REDIS_PROXY_PORT=6381

# Vulnerable Redis Authentication
VULNERABLE_REDIS_PASSWORD=123

# Secure Redis Authentication
ADMIN_USER=your-admin-user
REDIS_ADMIN_PASSWORD=your-admin-password

READONLY_USER=your-readonly-user
REDIS_READONLY_PASSWORD=your-read-password

WRITEONLY_USER=your-writeonly-user
REDIS_WRITEONLY_PASSWORD=your-write-password

EXPORTER_USER=your-exporter-user
REDIS_EXPORTER_PASSWORD=your-exporter-password

# Security
ENCRYPTION_KEY=your-encryption-key
ENCRYPTION_SALT=your-encryption-salt

# Grafana
GRAFANA_ADMIN_PASSWORD=your-g-admin-password

# Attacker IP
AWS_ATTACKER_IP=ip-ec2-instance